.popup__form-input-error {
  width: 358px;
  min-height: 40px;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  transition: opacity 0.3s;
}
