.form__input-error {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  width: 348px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
}

@media screen and (max-width: 767px) {
  .form__input-error {
    width: 190px;
  }
}
